@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 1rem;
  }
  50% {
    bottom: 2rem;
  }
}

body {
  margin: 0;
}

.ant-spin {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.ant-card-body {
  padding: 0;
}

@media (min-width: 1024px) {
  .ant-card-body {
    padding: 24px;
  }
}
